<section id="about" class="my-5">
    <div class="container">
        <h2 style="color: #391E41">
            <b>About Me</b>
        </h2>
        <p>@ViewData["Greeting"]</p>
        <p>@ViewData["Goal"]</p>
    </div>
</section>