<section id="contact" class="my-5">
    <div class="container">
        <h2 class="mb-4">
            <b>Contact</b>
        </h2>
        <p>@ViewData["Email"]</p>
        <p>@ViewData["Mobile"]</p>
        <p>@ViewData["GitHub"]</p>
        <p>@ViewData["LinkedIn"]</p>
        <a href="#" class="btn btn-success">Download Resume</a>
    </div>
</section>