
<section id="skills" class="my-5" style="color: #391E41">
   
    <div class="container">
        <h2 class="mb-4">
            <b>Skills</b>
        </h2>
        <div class="row">

            <div class="col-md-3 mb-3">
                <div class="card skill-card text-center p-3">
                    <p>@ViewData["Programming Languages"]</p>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card skill-card text-center p-3">
                    <p>@ViewData["Web"]</p>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card skill-card text-center p-3">
                    <p>@ViewData["Databases"]</p>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card skill-card text-center p-3">
                    <p>@ViewData["Tools"]</p>
                </div>
            </div>
        </div>
    </div>
</section>